
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
*.dll
*.exe
*.app
*.log
*.pdb
*.mdb
*.cache


project.lock.json
project.fragment.lock.json
artifacts/
project.assets.json
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets


*.nupkg
*.snupkg
packages/
.nuget/


secrets.json

.idea/


.vscode/
*.code-workspace

*.DS_Store
*.swp
Thumbs.db
ehthumbs.db
desktop.ini


.env



TestResults/
coverage/
*.coverage
*.coveragexml
*.testresults
*.trx


# Ignora archivos generados por Visual Studio y .NET
**/bin/
**/obj/
**/*.dll
**/*.exe
**/*.pdb
**/*.cache
**/*.csproj.FileListAbsolute.txt
**/*.AssemblyInfo.cs

*.db

# Build outputs
**/bin/
**/obj/
SecuritySystem/obj/
SecuritySystem/obj/Debug/net8.0/EndpointInfo/SecuritySystem.Web.json

